<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.demo.analytics">

    <application>
        <activity android:name=".AnalyticsActivity" />
        <activity android:name=".AutomationActivity" />
    </application>

</manifest>